.custom-pagination .swiper-pagination-bullet {
  background: #94a3b8;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #2563eb;
  width: 28px;
  border-radius: 20px;
}